
.songPannel {
    width:55%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    margin-left: 23%;
    margin-right: 27%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    
    
}

.songItem{
    position: relative;
    width: 96%;
    margin-left: 2%;
    margin-right:2%;
    display:flex;
    flex-direction: row;
    gap: 1.5rem;
    background-color: rgb(68, 52, 35);
    margin-bottom: 1rem;
    border-radius: 10px;

    &:hover{
      cursor: pointer;
    }
}
.actions {
  position: absolute;
  top: 1rem;
  right:1rem;
  padding-left:4px;
  padding-right:4px;
  padding-top: 1px;
  padding-bottom: 1px;  
  border-radius: 10px;
  transition: background-color 0.3s ease;
  

  &:hover {
    background-color: rgb(30, 30, 30,.8);
  }
  

}

.imageColumn { 
    grid-column:span 2;
    width:100%;
    padding:2px;
    background-color: rgb(45, 48, 45);
    height: 60vh;
}
.detailsColumn {
  grid-column:span 4;
  padding: 2px;
  margin-right: 20px;
  background-color: transparent;
  height:fit-content;
  width: 100%;
  
}
.detailsColumn h1{
  font-size:45px;
  font-weight: 600;
  width: 100%;
  border-bottom: 20px;
  border-color: blueviolet;
}

.title {
  width: 100%;
  border-bottom: 4rem;
  border-radius: 2px;

}

@media (max-width: 768px) {
    .songPannel { 
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
      
     
    }
    .imageColumn{
      grid-column: span 2;
      height: 30vh;

    }
    .detailsColumn{
      grid-column:span 6;
      grid-column: span 2;
    }
    .actions{
      top: .3rem;
      right:.3rem;
      z-index: 50;
    }
  }

 